.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.tophead {
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 100%;
    top: 0;
    background: #fafbfc;
    height: auto;
    z-index: 1;
    transition: all .2s;
    padding: 10px 0px;
}

.logo a.btn.btn-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.righthead{
    text-align: right !important;
}

.btnhead {
    display: inline-block;
    margin-right: 18px;
}

.profile {
    display: inline-block;
    cursor: pointer;
}

.profile img {
    border-radius: 50%;
    width: 40px;
    height: auto;
}

.sub_btn {
    background-color: #3f6ad8;
    box-shadow: 0 0.125rem 0.625rem rgba(63,106,216,0.4), 0 0.0625rem 0.125rem rgba(63,106,216,0.5);
    color: #fff;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
    border: none;
}

.sub_btn:hover {
    background-color: #2955c8;
    border-color: #2651be;
    color: #fff;
}

/**Start Sidebar**/

#sidebar-wrapper .sidebar-nav {
    padding-left:0; 
    margin-bottom:0;
    list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0px;
    line-height: 45px;
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    background: #222 !important;
    color: #fff !important;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 10px;
    color: #fff;
    float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
    margin-right: 10px;
}

#sidebar-wrapper .sidebar-nav li ul.panel-collapse li {
    text-indent: 15px;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon.dropicon {
    float: right;
}

#sidebar-wrapper {
    height: 110vh;
    background: #222;
}
/**end sidebar**/

.sideblock {
    padding: 0;
}

.design_page {
    background-color: #fff;
    border-radius: .25rem;
    padding:0 20px;
    margin-top: 30px;
}

.formtitle {
    text-align: center;
    margin-bottom: 30px;
}

.formtitle:after {
    content: '';
    display: block;
    margin: 24px auto 0;
    width: 30px;
    border-top: 2px solid #222;
}

.formtitle h5{
    margin-bottom: 0;
    text-transform: uppercase;
}

.sideblock1 {
    padding: 0;
        position: relative;
}

.addbtn {
    text-align: right;
    margin-bottom: 20px;
}

.addbtn .dropdown {
    display: inline-block;
}

.addbtn .btn{
   display: inline-block;
}


/**Subscription css**/
.sub_box1{
    padding: 103px 12px 10px 12px;
    position: relative;
    overflow: hidden;
}
.sub_box2{
    
    padding: 20px 25px;
    text-align: center;
}

.sub_btn2
{
    background-color: #fff;
    color: #dc4c4c;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    margin-top: 18px;
}
.sub_box1 li
{
    margin-bottom: 8px;
    color: #777;
    list-style: none;
        font-size: 14px;
}
.sub_box1 li i
{
    color: #dc4c4c;
    font-size: 14px;
}
.rup_sign
{
    font-size: 41px;
    font-weight: 600;
    color: #fff;
    margin-right: 8px;
}
.pri_txt
{
    font-size: 13px;
    font-weight: 600;
    color: #fff;
}
.pric_lbl {
    position: absolute;
    top: 20px;
    left: -88px;
    transform: rotate(-45deg);
    padding: 10px 0px;
    width: 250px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    }
.pack1 {
    background-color: #dc4c4c;
}
.sign_ul2 li i{
    color: #f39c11;
}
.sub_btn--btn2{
    color: #f39c11;
}
.pack2{
background-color: #f39c11;
}
.sign_ul3 li i{
    color: #16c3c7;
}
.pack3{
background-color: #16c3c7;
}
.sub_btn--btn3{
    color: #16c3c7;
}
.pack4{
background-color: #16c76df7;
}
.sign_ul4 li i{
    color: #16c76df7;
}
.sub_btn--btn4{
    color: #16c76df7;
}
.pric_lbl{
background-color: #dc4c4c;
}
.pric_lbl--lbl1{
    background-color:  #f39c11;
}
.pric_lbl--lbl2{
    background-color: #16c3c7;
}
.pric_lbl--lbl3{
    background-color: #16c76df7;
}
.sub_box1 ul
{
    padding: 0;
}

.design_page .inner_plan {
    margin-bottom: 15px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

/**End**/

.logblock{
    display: none;
    position: absolute;
    right: 0;
    background-color: #3f69d8;
    padding: 7px 20px;
    color: #fff;
    z-index: 9;
    border-radius: 5px;
    font-weight: 600;
    top: 50px;
    font-size: 14px;
}

.toggleprofile{
    display: block;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.dataTables_filter input {
width: 255px;
height: 40px;
border: 1px solid #ddd;
margin-bottom: 11px;
padding: 0px 11px;
}   

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #3f69d8;
    border-color: #3f69d8;
color: #fff !important;
padding: 5px 12px;
}

.addbtn .btn-outline-primary:hover {
    color: #000;
    background-color: #fff;
    border-color: #007bff;
}


table thead {
background-color:#222222;
color:#fff;
}

table.dataTable thead .sorting_asc {
background-image: none;
}

table.dataTable.no-footer {
border: 1px solid #ccc;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: none;
}

.dataTables_length select{
    height:40px;padding:8px;
}

.form-control{
    border-radius: 0;
}

.sideblock1 label {
    font-weight: 600;
}

.mtop{
    margin-top: 20px;
}

.imgpopup {
    margin-bottom: 1rem;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
}
button:focus {
    outline: none;
}
    .btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: unset;
}
.btn.focus, .btn:focus {
    outline: none;
    box-shadow: unset;
}
.form-control {
    height: 38px;
}

.snackbar_msg {
    display: block;
    width: 45%;
    bottom: 10%;
    background-color: #dcedd4;
    color: #155724;
    text-align: center;
    margin: auto;
    padding: 15px 0px;
    font-size: 16px;
    font-weight: 600;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    border: 2px solid;

}
.mbot
{
    margin-bottom: 25px;
}
.snackbar_msg p
{
    margin: 0;
}
.error {
    color:red;
}
.form-group input.error {
    color: black;
}
.preloader {
  border: 5px solid transparent;
    border-radius: 50%;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 50%;
    display: none;
     z-index: 10000;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.preshadow
{
    position: absolute;
    width: 100%;
    height: 130%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.49);
    display: none;
    z-index: 10000;
}